openapi: 3.0.3
info:
  title: Zenshi Mobile API
  version: 1.0.0
  description: Mobile REST API for Zenshi (GSC analytics + management).

servers:
  - url: https://zenshi.dev
    description: Production

tags:
  - name: Mobile Auth
  - name: Mobile Data
  - name: Mobile Sync

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Token
  schemas:
    ApiError:
      type: object
      required: [ok, error]
      properties:
        ok:
          type: boolean
          enum: [false]
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
    ApiSuccess:
      type: object
      required: [ok, data]
      properties:
        ok:
          type: boolean
          enum: [true]
        data:
          type: object
          additionalProperties: true
    User:
      type: object
      required: [id]
      properties:
        id:
          type: string
        email:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        image:
          type: string
          nullable: true
    AuthStartData:
      type: object
      required: [authUrl]
      properties:
        authUrl:
          type: string
    EmailPasswordAuthRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        name:
          type: string
          nullable: true
        label:
          type: string
          nullable: true
    AuthExchangeRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string
        label:
          type: string
          nullable: true
    AuthExchangeData:
      type: object
      required: [token, tokenId, user]
      properties:
        token:
          type: string
        tokenId:
          type: string
        expiresAt:
          type: string
          nullable: true
        user:
          $ref: "#/components/schemas/User"
    AuthCredentialsResponse:
      type: object
      required: [token, tokenId, user]
      properties:
        token:
          type: string
        tokenId:
          type: string
        expiresAt:
          type: string
          nullable: true
        user:
          $ref: "#/components/schemas/User"
    GoogleLinkResult:
      type: object
      required: [linked, user]
      properties:
        linked:
          type: boolean
        user:
          $ref: "#/components/schemas/User"
    GoogleRelinkRequest:
      type: object
      required: [relinkToken]
      properties:
        relinkToken:
          type: string
    GoogleRelinkConflictDetails:
      type: object
      required: [canRelink, provider, relinkToken]
      properties:
        canRelink:
          type: boolean
          enum: [true]
        provider:
          type: string
          enum: [google]
        relinkToken:
          type: string
    MobileSessionData:
      type: object
      required: [user, tokenId]
      properties:
        user:
          $ref: "#/components/schemas/User"
        tokenId:
          type: string
        expiresAt:
          type: string
          nullable: true
    Site:
      type: object
      required: [id, gsc_site_url]
      properties:
        id:
          type: string
        gsc_site_url:
          type: string
        enabled:
          type: integer
          nullable: true
        created_at:
          type: string
          nullable: true
        folder_id:
          type: string
          nullable: true
        folder_name:
          type: string
          nullable: true
    Folder:
      type: object
      required: [id, name, icon, color]
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string
        color:
          type: string
        created_at:
          type: string
          nullable: true
        updated_at:
          type: string
          nullable: true
    Share:
      type: object
      required: [id, scope_type, scope_id, status]
      properties:
        id:
          type: string
        scope_type:
          type: string
        scope_id:
          type: string
        status:
          type: string
        expires_at:
          type: string
          nullable: true
        created_at:
          type: string
          nullable: true
        revoked_at:
          type: string
          nullable: true
        last_accessed_at:
          type: string
          nullable: true
        default_start:
          type: string
          nullable: true
        default_end:
          type: string
          nullable: true
        default_compare_mode:
          type: string
          nullable: true
        default_compare_start:
          type: string
          nullable: true
        default_compare_end:
          type: string
          nullable: true
        default_granularity:
          type: string
          nullable: true
        brand_name:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
        favicon_url:
          type: string
          nullable: true
        accent_color:
          type: string
          nullable: true
        header_bg_color:
          type: string
          nullable: true
        text_color:
          type: string
          nullable: true
        show_powered_by:
          type: integer
          nullable: true
        site_label:
          type: string
          nullable: true
        folder_label:
          type: string
          nullable: true
        shareUrl:
          type: string
          nullable: true
    MetricsRow:
      type: object
      properties:
        clicks:
          type: number
          nullable: true
        impressions:
          type: number
          nullable: true
        ctr:
          type: number
          nullable: true
        position:
          type: number
          nullable: true
    PageMetricsRow:
      type: object
      required: [page]
      properties:
        page:
          type: string
        clicks:
          type: number
          nullable: true
        impressions:
          type: number
          nullable: true
        ctr:
          type: number
          nullable: true
        position:
          type: number
          nullable: true
        compareClicks:
          type: number
          nullable: true
        compareImpressions:
          type: number
          nullable: true
        compareCtr:
          type: number
          nullable: true
        comparePosition:
          type: number
          nullable: true
    QueryMetricsRow:
      type: object
      required: [query]
      properties:
        query:
          type: string
        clicks:
          type: number
          nullable: true
        impressions:
          type: number
          nullable: true
        ctr:
          type: number
          nullable: true
        position:
          type: number
          nullable: true
        compareClicks:
          type: number
          nullable: true
        compareImpressions:
          type: number
          nullable: true
        compareCtr:
          type: number
          nullable: true
        comparePosition:
          type: number
          nullable: true
    SeriesPoint:
      type: object
      properties:
        date:
          type: string
        clicks:
          type: number
          nullable: true
        impressions:
          type: number
          nullable: true
        ctr:
          type: number
          nullable: true
        position:
          type: number
          nullable: true
    Retention:
      type: object
      required: [start, end, partiallyOutside]
      properties:
        start:
          type: string
        end:
          type: string
        partiallyOutside:
          type: boolean
    Range:
      type: object
      required: [start, end]
      properties:
        start:
          type: string
        end:
          type: string
    SiteCardsRequest:
      type: object
      required: [siteIds, start, end]
      properties:
        siteIds:
          type: array
          items:
            type: string
        start:
          type: string
        end:
          type: string
        compareStart:
          type: string
          nullable: true
        compareEnd:
          type: string
          nullable: true
        debug:
          type: boolean
        granularity:
          type: string
          nullable: true

paths:
  /api/mobile/v1/auth/start:
    get:
      tags: [Mobile Auth]
      summary: Start Google OAuth (PKCE)
      responses:
        "200":
          description: OAuth URL
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthStartData"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/register:
    post:
      tags: [Mobile Auth]
      summary: Register with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/EmailPasswordAuthRequest"
                - type: object
                  required: [email, password]
                  properties:
                    name:
                      type: string
                      nullable: true
      responses:
        "201":
          description: Registration succeeded and token returned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthCredentialsResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/login:
    post:
      tags: [Mobile Auth]
      summary: Login with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailPasswordAuthRequest"
      responses:
        "200":
          description: Login succeeded and token returned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthCredentialsResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/link/start:
    get:
      tags: [Mobile Auth]
      summary: Start Google link flow with existing mobile session
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OAuth URL
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthStartData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/link/callback:
    get:
      tags: [Mobile Auth]
      summary: Mobile OAuth callback for linking Google account
      parameters:
        - in: query
          name: code
          schema:
            type: string
        - in: query
          name: state
          schema:
            type: string
        - in: query
          name: error
          schema:
            type: string
      responses:
        "200":
          description: HTML or JSON response with link result
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GoogleLinkResult"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: Google account is linked to another user and can be relinked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/link/relink:
    post:
      tags: [Mobile Auth]
      summary: Confirm Google relink to the current mobile user
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleRelinkRequest"
      responses:
        "200":
          description: Google account relinked
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/GoogleLinkResult"
        "400":
          description: Missing or invalid relink token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/callback:
    get:
      tags: [Mobile Auth]
      summary: OAuth redirect handler
      parameters:
        - in: query
          name: code
          schema:
            type: string
        - in: query
          name: state
          schema:
            type: string
        - in: query
          name: error
          schema:
            type: string
      responses:
        "200":
          description: HTML or JSON response with login code
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [code, user]
                        properties:
                          code:
                            type: string
                          user:
                            $ref: "#/components/schemas/User"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/exchange:
    post:
      tags: [Mobile Auth]
      summary: Exchange login code for API token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthExchangeRequest"
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthExchangeData"
        "401":
          description: Invalid or expired code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/session:
    get:
      tags: [Mobile Auth]
      summary: Get current mobile session
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Session info
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MobileSessionData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/mobile/v1/auth/logout:
    post:
      tags: [Mobile Auth]
      summary: Revoke the current API token
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logout result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [revoked]
                        properties:
                          revoked:
                            type: boolean

  /api/mobile/v1/sites:
    get:
      tags: [Mobile Data]
      summary: List sites
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: refresh
          schema:
            type: string
          description: Set to 1 to refresh from GSC.
      responses:
        "200":
          description: Site list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          sites:
                            type: array
                            items:
                              $ref: "#/components/schemas/Site"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    post:
      tags: [Mobile Data]
      summary: Add a site
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteUrl]
              properties:
                siteUrl:
                  type: string
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [id, siteUrl]
                        properties:
                          id:
                            type: string
                          siteUrl:
                            type: string
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
    patch:
      tags: [Mobile Data]
      summary: Update site folder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId]
              properties:
                siteId:
                  type: string
                folderId:
                  type: string
                  nullable: true
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"

  /api/mobile/v1/folders:
    get:
      tags: [Mobile Data]
      summary: List folders
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Folder list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          folders:
                            type: array
                            items:
                              $ref: "#/components/schemas/Folder"
    post:
      tags: [Mobile Data]
      summary: Create folder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                icon:
                  type: string
                color:
                  type: string
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Folder"
    patch:
      tags: [Mobile Data]
      summary: Update folder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folderId, name]
              properties:
                folderId:
                  type: string
                name:
                  type: string
                icon:
                  type: string
                color:
                  type: string
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
    delete:
      tags: [Mobile Data]
      summary: Delete folder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [folderId]
              properties:
                folderId:
                  type: string
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"

  /api/mobile/v1/shares:
    get:
      tags: [Mobile Data]
      summary: List shares
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Share list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          shares:
                            type: array
                            items:
                              $ref: "#/components/schemas/Share"
    post:
      tags: [Mobile Data]
      summary: Create share
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scopeType, scopeId]
              properties:
                scopeType:
                  type: string
                scopeId:
                  type: string
                expiresAt:
                  type: string
                branding:
                  type: object
                  additionalProperties: true
                defaults:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [id, scopeType, scopeId, expiresAt, shareUrl]
                        properties:
                          id:
                            type: string
                          scopeType:
                            type: string
                          scopeId:
                            type: string
                          expiresAt:
                            type: string
                          shareUrl:
                            type: string
    patch:
      tags: [Mobile Data]
      summary: Update share
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shareId]
              properties:
                shareId:
                  type: string
                status:
                  type: string
                expiresAt:
                  type: string
                branding:
                  type: object
                  additionalProperties: true
                defaults:
                  type: object
                  additionalProperties: true
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"
    delete:
      tags: [Mobile Data]
      summary: Delete share
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shareId]
              properties:
                shareId:
                  type: string
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiSuccess"

  /api/mobile/v1/pages:
    get:
      tags: [Mobile Data]
      summary: Page analytics
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: siteId
          required: true
          schema:
            type: string
        - in: query
          name: start
          required: true
          schema:
            type: string
        - in: query
          name: end
          required: true
          schema:
            type: string
        - in: query
          name: compareStart
          schema:
            type: string
        - in: query
          name: compareEnd
          schema:
            type: string
        - in: query
          name: granularity
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        "200":
          description: Page metrics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          pages:
                            type: array
                            items:
                              $ref: "#/components/schemas/PageMetricsRow"
                          requestedRange:
                            $ref: "#/components/schemas/Range"
                          servedRange:
                            $ref: "#/components/schemas/Range"
                          effectiveRange:
                            $ref: "#/components/schemas/Range"
                          retention:
                            $ref: "#/components/schemas/Retention"
                          granularity:
                            type: string

  /api/mobile/v1/queries:
    get:
      tags: [Mobile Data]
      summary: Query analytics
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: siteId
          required: true
          schema:
            type: string
        - in: query
          name: start
          required: true
          schema:
            type: string
        - in: query
          name: end
          required: true
          schema:
            type: string
        - in: query
          name: compareStart
          schema:
            type: string
        - in: query
          name: compareEnd
          schema:
            type: string
        - in: query
          name: granularity
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        "200":
          description: Query metrics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          queries:
                            type: array
                            items:
                              $ref: "#/components/schemas/QueryMetricsRow"
                          requestedRange:
                            $ref: "#/components/schemas/Range"
                          servedRange:
                            $ref: "#/components/schemas/Range"
                          effectiveRange:
                            $ref: "#/components/schemas/Range"
                          retention:
                            $ref: "#/components/schemas/Retention"
                          granularity:
                            type: string

  /api/mobile/v1/site-card:
    get:
      tags: [Mobile Data]
      summary: Site card metrics
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: siteId
          required: true
          schema:
            type: string
        - in: query
          name: start
          required: true
          schema:
            type: string
        - in: query
          name: end
          required: true
          schema:
            type: string
        - in: query
          name: granularity
          schema:
            type: string
      responses:
        "200":
          description: Site card
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          total:
                            $ref: "#/components/schemas/MetricsRow"
                          series:
                            type: array
                            items:
                              $ref: "#/components/schemas/SeriesPoint"
                          requestedRange:
                            $ref: "#/components/schemas/Range"
                          servedRange:
                            $ref: "#/components/schemas/Range"
                          effectiveRange:
                            $ref: "#/components/schemas/Range"
                          lastAvailable:
                            type: string
                            nullable: true
                          granularity:
                            type: string
                          allowedGranularities:
                            type: array
                            items:
                              type: string
                          retention:
                            $ref: "#/components/schemas/Retention"

  /api/mobile/v1/site-cards:
    post:
      tags: [Mobile Data]
      summary: Multi-site card metrics
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SiteCardsRequest"
      responses:
        "200":
          description: Site card map
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true

  /api/mobile/v1/sync:
    post:
      tags: [Mobile Sync]
      summary: Enqueue sync for a site
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [siteId]
              properties:
                siteId:
                  type: string
      responses:
        "200":
          description: Sync enqueued
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [ok, siteId, daysQueued]
                        properties:
                          ok:
                            type: boolean
                          siteId:
                            type: string
                          daysQueued:
                            type: integer

  /api/mobile/v1/sync/status:
    get:
      tags: [Mobile Sync]
      summary: Sync status for user sites
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Status list
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiSuccess"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          statuses:
                            type: array
                            items:
                              type: object
                              additionalProperties: true
